:root {
    --color-primary: #459d7a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu {
    width: 1500px;
    height: 63px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}

.menu .menu_list {
    display: flex;
}

.menu .menu_list li {
    list-style: none;
}

.menu .menu_list li a {
    text-decoration: none;
    display: block;
    padding: 23px 15px;
    color: gray;
}
.menu .menu_list :hover a{
    background-color: green;
    color: azure;
}


.menu .menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .menu_item .menu_item_search{
position: relative;
}
.menu .menu_item .menu_item_search input {
height:  38px;
width:  212px;
outline: none;
background: none;
border: 0.5px solid rgb(213, 209, 209);
padding-left: 30px;
font-size: 15px;
opacity: 0.5;
border-radius: 8px;
}
.menu .menu_item .menu_item_search button{
position: absolute;
height:  38px;
width: 38px;
border: none;
background:none;
left: 0px;
opacity: 0.5;
font-size: 15   px;
}

.img_title{
    max-height: 413px;
    position: relative;
    display: flex;
    width: 100%;
}
.img_title .img_title_text{
    position: absolute;
    width: 450px;
    height: fit-content;
    left:140px;
    top: 110px;

}
.img_title .img_title_text p{
    padding: 5px 0;
}
.img_title img {
    width: 100%;
    height: 413px;
}
.products{
width: 1240px;
margin-left: 140px;
height: 900px;
}
.products_header{
width: 100%;
height: 54px;
display: flex;
justify-content: space-between;
margin: 70px 0;;
}
.products_header_left{
width: 572px;
height: 55px;

}
.products_header_left ul{
display: flex;
justify-content: space-around;
align-items: center;
}
.products_header_left ul li{
list-style: none;
}
.products_header_left ul li a{
text-decoration: none;
color: green;
text-align: center;
line-height: 50px;
display: block;
font-size: 20px;
width: 190px;
height: 56px;
border-radius: 5px;
}
.products_header_left ul li:hover a{
background-color: green;
color: whitesmoke;
}
.products_header_right{

height: 55px;
width: 400px;
}
.products .products_header .products_header_right{
position: relative;
display: flex;
}
.products .products_header .products_header_right input[type="text"] {
height:  38px;
width:  212px;
outline: none;
background: none;
border: none;
padding-left: 30px;
font-size: 15px;
opacity: 0.5;
border-radius: 8px 0 0 8px;
border-bottom: 1px solid gray;
}
.products .products_header .products_header_right input[type="submit"] {
height:  38px;
width:  fit-content;
outline: none;
padding: 0 15px ;
border: none;
padding-left: 30px;
font-size: 15px;
border-radius: 0 8px 8px 0;
cursor: pointer;
}
.products .products_header .products_header_right button{
position: absolute;
height:  38px;
width: 38px;
border: none;
background:none;
left: 0px;
opacity: 0.5;
font-size: 15px;
} 
.products_list{
display: grid;
height: 1700px;
width: 100%;
grid-template-columns: repeat(4,auto);
grid-template-rows: repeat(3,auto);
justify-content: space-between;

}
.products_list .products_list_item{
width: 295px;
height: 495px;
display: flex;
flex-direction: column;
}
.products_list .products_list_item .img_card{
position: relative;
cursor: pointer;
}
.products_list .products_list_item .img_card span:hover{
opacity: 0.8;
}
.products_list .products_list_item .img_card img{
width: 100%;
height: 350px;
transition: 0.2s ease-in-out;
}
.products_list .products_list_item .img_card span{
width: fit-content;
height: 30px;
position: absolute;
background-color: gold;
padding: 7px 7px;
border-radius: 15px;
color: goldenrod;
right: 10px;
top: 10px;
z-index: 1;

}
.products_list .products_list_item .img_card  :hover img{
opacity: 0.5;
}
.products_list .products_list_item .bottom{
display: flex;
justify-content: space-between;
padding: 15px 0;
align-items: center;
}
.products_list .products_list_item .bottom .price_item{
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;
}
.products_list .products_list_item .bottom a{
font-size: 20px;
outline: none;
padding: 10px 10px;
border-radius: 50%;
color: green;
border: 1px solid green;

}
.products_list .products_list_item .bottom:hover a{
color: #fff;
background-color: green;
}

.products_bottom{

height: 200px;
width: 100%;
display: flex;
justify-content: center;
gap: 15px;


}
.products_bottom ul{
display: flex;
  }
.products_bottom ul li{
list-style: none;


}
.products_bottom ul li a{
text-decoration: none;
display: block;
width: 38px;
height: 38px;
text-align: center;
line-height: 38px;
border-radius: 70%;
margin: 0 5px;
color: gray;
}
.products_bottom ul :hover a{
background-color: aliceblue;
color: green;
width: 45px;

}
.footer{
margin-top: 1050px;
background-color: black;
width: 100%;
height: 460px;
display: grid;
grid-template-columns: 800px 730px;
}
.footer .footer_left{
display: flex;
justify-content: center;
margin-top: 134px;
}
.footer .footer_left p{
font-size: 28px;
color: azure;
}
.footer .footer_right{
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 130px;
row-gap: 20px;
}
.footer .footer_right p{
color: azure;
}
.footer .footer_left .footer_left_col{
display: flex;
flex-direction: column;
width: 185px;
}
.footer .footer_left .footer_left_col ul{
padding: 20px 0;
}
.footer .footer_left .footer_left_col ul :hover a{
color: green;
}
.footer .footer_left .footer_left_col .select{
background: none;
color: azure;
width: 135px;
height: 40px;
border-radius: 5px;
outline: none;
border: 1px solid azure;
}
.footer .footer_left .footer_left_col li{
list-style: none;
}
.footer .footer_left .footer_left_col a{
text-decoration: none;
display: block;
padding: 10px 0;
color: azure;
}
.footer .footer_right .footer_right_row_2{
position: relative;
}
.footer .footer_right .footer_right_row_2 input {
position: relative;
box-sizing: border-box;
font-size: 20px;
}

.footer .footer_right .footer_right_row_2 input[type = "text"]{
background: none;
outline: none;
border: 0.1px solid lightcyan;
padding: 0 50px;
border-radius: 10px 0 0 10px;
height: 50px;
color: azure;

}
.footer .footer_right .footer_right_row_2 input[type = "submit"]{
position: relative;
outline: none;
border-top: 5px solid green;
border-bottom: 5px solid green;
border-radius:0 15px 15px 0;
background: green;
font-size: 20px;
height: 50px;
cursor: pointer;
color: #fff;
padding: 0 25px;
margin-left: -5px;
}
.footer .footer_right .footer_right_row_2 button{
position: absolute;
height:  50px;
width: 50px;
border: none;
background: none;
color: azure;
left: 0px;

font-size: 15px;
} 
.footer .footer_right .footer_right_row_3 i{
font-size: 28px;
}
.footer .footer_right .footer_right_row_4{
display: flex;
gap: 25px;
}
.footer .footer_right .footer_right_row_4 ul{
display: flex;
}
.footer .footer_right .footer_right_row_4 ul li{
width: fit-content;
color: azure;
}
.footer .footer_right .footer_right_row_4 ul li a{
text-decoration: none;
color: azure;
padding: 0 20px;
}
.footer .footer_right .footer_right_row_4 ul :hover a{
color: green;
}
